html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.single-product-pricing {
    display: flex;
    align-items: center;
}

.original-price {
    margin-right: 5px;
    text-decoration: line-through;
    font-weight: normal; /* Remove bold styling */
}

.discounted-price {
    margin-right: 5px;
    font-weight: bold;
    background-color: lightpink; /* Customize the color as needed */
    padding: 7px;
    border-radius: 10px;
}

.discount-percentage {
    font-weight: bold;
    background-color: black; /* Customize the color as needed */
    color: white;
    padding: 7px;
    border-radius: 10px;
}

.equal-spacing {
    word-spacing: 0.5em;
}

.equal-spacing span {
    display: inline-block;
    white-space: nowrap;
}