@using ViewModels.Product
@using System.Globalization
@model List<ProductDto>
@{
    ViewData["Title"] = "Home Page";
}

<!-- hero area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">Fresh & Organic</p>
						<h1>Delicious Seasonal Fruits</h1>
						<div class="hero-btns">
							<a href="shop.html" class="boxed-btn">Fruit Collection</a>
							<a href="contact.html" class="bordered-btn">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->

<main role="main">
	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
		
			<div class="row">
				<div class="col-md-12">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="section-title">	
							<h3><span class="orange-text">Our</span> Products</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
						</div>
					</div>
				</div>
			</div>
		
			<div class="row product-lists">
				@foreach (ProductDto productDto in Model)
				{
						<div class="col-lg-4 col-md-6 text-center @productDto.Name">
							<div class="single-product-item">
								<div class="product-image">
								<a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@productDto.Id"><img src="~/img/vongKhoaTruot.webp" alt=""></a>
								</div>
								<h3 class="h2">@productDto.Name</h3>
								<p class="product-price"> @string.Format("{0:c0}", productDto.Price) VND </p>
								<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
							</div>
						</div>
				}
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->
</main>